[2017-01-20 21:48] georgerichardson opened #1 "Scrape and store article content from URLs"
The *master input*, *extended* and *training* datasets all contain URLs. For initial exploration and later analysis, it would be nice to build functionality to scrape, strip, and store the article information.

[2017-01-20 21:53] georgerichardson opened #2 "Scraper - Tag broken URLs"
Lots of the URLs are broken, or contain information that can't be parsed as text (eg. videos, images). How can we filter them out and tag them as such.

[2017-01-20 23:30] georgerichardson opened #3 "Best NLP approach to extract useful info from articles"
From the articles, we need to extract the whether individuals or households are being displaced (the reporting unit), how many of them, the date the article was published published and which reporting term is most appropriate.

[2017-01-22 23:20] georgerichardson opened #4 "Pull data from S3 bucket"
Currently, the csv data files are stored in my personal S3. We need to be able to download them locally or load them directly into a dataframe.

[2017-01-31 03:55] georgerichardson opened #5 "Improve text extraction from URLs with beautifulsoup"
There is a barebones function to extract text from the URLs. However, this hasn't been tested across many different URLs and does not necessarily do the best job of extracting the main body of relevant text.

[2017-01-31 04:03] georgerichardson opened #6 "Visualization discussion"
The ultimate aim of this project is to make a visualization tool that can:
* Map the displacement figures and locations, identify hotspots and trends.
* Visualize reporting frequency and statistics for a selected region (using histogram or other such charts)
* Display excerpts of documents where the relevant information is reported (either by looking at the map or browsing the list of URLs).
* Vis

[2017-01-31 16:25] georgerichardson opened #7 "Train classifier on training dataset"
There is a training dataset [here](https://docs.google.com/spreadsheets/d/1n1Sv8fCgGCw6555ckJ83z-sgWDKz5ydXkqpJXbcGD5g/edit?usp=sharing) that can be used to train a classifier to tag articles with "violence" or "disaster" as the cause of displacement. It is quite a short dataset, but using the URL scraping functionality in `scrape_articles.py` we should be able to make a start at training a classi

[2017-01-31 16:58] georgerichardson opened #8 "Get random subsample of URLs from list"
There is a placeholder function `sample_urls` in `scrape_articles.py`. This should be updated to return a random subsample URLs in a list.

[2017-01-31 17:04] georgerichardson commented on #6
Some refugee visualizations for inspiration:
- [Refugee Project](http://www.therefugeeproject.org/#/1975)
- [IDMC Carto Visualization](https://milanoleonardo.carto.com/viz/64ee5010-d2a5-11e6-be93-0e3ff518bd15/public_map)

Less directly related but still cool:
- [Charles Joseph Minard visualizing 6 types of data in 2 dimensions on Napoleonic campaign](https://en.m.wikipedia.org/wiki/Charles_Joseph_

[2017-02-01 03:30] simonb83 commented on #8
Happy to kick things off with this one...just wanted to clarify the expected behaviour. I notice the placeholder has index and sample parameters.
I imagine that the sample is the sample size?
What is the idea behind the index param?

[2017-02-01 05:26] georgerichardson commented on #8
Cool! I can't say that I put that in there with too much forethought. I think the idea was to allow you to take a slice of the list using a range specified in `index` and to specify whether you wanted a random sample using True/False for `sample`. That doesn't seem like the best though (and might not even be what I originally intended...), so feel free to redesign as you see fit.

One thing that w

[2017-02-01 08:54] annakoop commented on #7
Any preference for the kind of classification algorithm?

[2017-02-01 14:00] mhoover commented on #4
@georgerichardson I'm happy to jump on this; can put some time in on evenings over the next couple of days. I'm on the D4D Slack at `mhoover` if you want to chat some more. I assume some access/permissions will be needed.

[2017-02-01 16:53] coldfashioned commented on #5
George - Do you have a small sample subset of these URLs to use when building this function / script?

[2017-02-01 16:55] simonb83 commented on #8
Got it. I'll start on this if you want to assign it to me.

[2017-02-01 17:37] simonb83 commented on #8
Just realized that the `scrape_articles.py` file is misnamed and is currently called `scrape_artlces.py`. Do you want me to correct the name as part of this issue?

[2017-02-01 19:28] georgerichardson commented on #5
Not a prebuilt one. Maybe use the `training_dataset.csv`?

[2017-02-01 20:21] #8 closed

[2017-02-01 22:31] simonb83 commented on #1
I'm starting to have a think about this one. I'll let you know when I have a rough outline of how I think this could work.

[2017-02-01 23:33] kmariano commented on #3
There are a few natural language libraries that will be able to do classification so we can identify subjects, key words, synonyms etc. One example is natural.js for node. I'm sure there is a python counterpart that could be used.

[2017-02-01 23:41] wwymak commented on #3
I think apparently spacy (in python) is pretty decent in POS tagging and entity extraction?

[2017-02-02 03:07] alemosie commented on #6
Non-interactive visualizations:

- [Perceived vs real size of Muslim population in France, U.S. and elsewhere](https://twitter.com/XtageLabs/status/810856072663666688?s=09)

[2017-02-02 03:58] simonb83 commented on #3
@wwymak  I've used nltk a couple of times in the past, but spacy looks really interesting and definitely worth checking out.
This comparison page is pretty interesting (admittedly not independent testing):
https://spacy.io/docs/api/

Probably the one place it might be lacking is in the multi-lingual support, but not even sure how relevant that might be yet.

[2017-02-02 04:05] jlln commented on #7
I've submitted a pull request for this issue with a basic script for evaluating classifier performance on this task. The script can be modified easily to try different models etc (right now it just uses naive bayes as a proof-of-concept).

[2017-02-02 05:10] georgerichardson commented on #4
@mhoover Cool! Pinging you on slack as this could need a bit of back and forth.

[2017-02-02 05:17] georgerichardson commented on #7
@annakoop Sorry just saw this.

@jlln Great! Pinged you on Slack to ask a couple of questions about it.

[2017-02-02 05:21] georgerichardson commented on #3
Thanks for the input all. I'd quite like to have a go at this, as I haven't used these packages before. If anyone wants to help out, that'd be welcome.

Spacy looks cool!

[2017-02-02 09:07] wwymak commented on #3
@georgerichardson do you have the articles texts somewhere? I would be quite interested in having a go at them on the side this weekend while I am trying out similarity nlp stuff for twitter? (but I can't promise on any sort of success 😉)

[2017-02-02 19:54] georgerichardson commented on #8
Yeah. I actually don't think that's even the appropriate file name anymore, so change it to something else that you feel might be better

[2017-02-02 20:44] #7 closed

[2017-02-02 20:45] coldfashioned commented on #5
Ok - now I'm a bit confused (and maybe in over my head). The scrape_artlces.py program just changed a ton and I'm not sure which function is the one I should be working on? Has this issue already been tackled? I'd love to help, but I also don't want to hold anything up, if there are folks who have more time / are better able to take on this task.

[2017-02-02 20:48] georgerichardson commented on #5
@coldfashioned Just realised you were never in the #refugees Slack channel where the link to the datasets were (the link is in a pinned post). Invited you.

Help definitely still wanted. We just came up with a new skeleton outline and @jlln just improved the scraper a bit, but the enhancements are still really needed. We're going to move this aspect to another repo though.

[2017-02-02 20:49] georgerichardson commented on #4
Just for everyone's information, this one is on hold for a bit until we get the scraper closer to being finalised.

[2017-02-02 20:50] georgerichardson commented on #3
@wwymak that's half the challenge. Right now we don't actually have any article text. We have people working on scraping that. That's why I just started this issue to initiate a conversation about approaches. I'll let you know if we have anything to work with.

[2017-02-03 03:12] coldfashioned commented on #5
Oh man, I'm getting frustrated. I have an idea, but I can't get going because I get an error (that seems to be common). I can't seem to get past it, though. Anyone have any tips for this:
ModuleNotFoundError: No module named 'bs4'

I've tried just about everything I could find from google. I'm using Python3, anaconda, and I have the environment set up with all the requirements. Blarg!

[2017-02-03 18:54] coldfashioned commented on #5
TIL: Use the correct shebang and all will be well. I had a generic shebang line, when I needed to have it point to the path of my conda environment. Man, I feel dumb and triumphant (for fixing it) at the same time. I'll work on the function this afternoon - for real, this time!

[2017-02-03 23:20] simonb83 opened #13 "Implement filtering of documents not reporting on human mobility"
This is the third filtering requirement from the competition guidelines, to eliminate articles which mention the word 'mobility' but are unrelated to human mobility.

As per @milanoleonardo, a possible approach:

[2017-02-03 23:25] simonb83 opened #14 "Best Machine Learning approach for classifying documents and articles"
Each parsed article needs to be classified into one of three categories:

- Disasters
- Conflict & Violence
- Other

Additionally, the chosen classifier / model must allow for easy online-learning or re-training in the future using new or larger datasets.

[2017-02-03 23:27] simonb83 opened #15 "Build / train classifier for article classification"

[2017-02-03 23:37] simonb83 opened #16 "Create, maintain and update user guide / admin guide."
The competition deliverables include:

Although there is not a lot to say at this point in time, it is worth keeping in mind rather than getting left to the last minute.

[2017-02-04 00:43] simonb83 commented on #3
Hey @wwymak, I just downloaded the contents of about 300 articles for people to play with for getting started on things like NLP, fact extraction etc. It's on [Dropbox](https://www.dropbox.com/sh/59lyts9d4ar1jcc/AADMyxDSQC_NGbpaPiuDGJ2ha?dl=0&preview=training_dataset_article_contents.csv) currently.
Unfortunately something seemed to happen to the text encoding on uploading to Dropbox, but if you w

[2017-02-04 00:46] wwymak commented on #3
hi @simonb83 if you can pass me the original file that would be great :)

[2017-02-04 02:00] georgerichardson commented on #5
Did you have any luck here in the end? I came across the `newspaper` module which seems to do this exact task. I've been testing it out and it seems good. Going to factor it into the scraper and test out.

[2017-02-04 02:03] jlln commented on #5
Oh that newspaper module looks ideal. Great find!

[2017-02-04 02:06] georgerichardson commented on #5
Pretty much does the whole job! Almost done with it

[2017-02-04 02:46] georgerichardson commented on #5
Just pushed to `scraper.py`. It's pretty basic right now. Can only take a list of urls

[2017-02-04 02:49] georgerichardson commented on #5
Closing this for now as mostly resolved. Probably opportunities for optimisations further down the line.

[2017-02-04 02:49] #5 closed

[2017-02-04 03:09] georgerichardson opened #17 "Scraper - Parsing PDFs?"
Currently, `scraper.py` only scrapes html pages. Can we also scrape and parse PDFs?

[2017-02-04 03:17] coldfashioned commented on #17
Just saw this on the way to dinner. I've built a program for work to parse pdf's. so I was planning to incorporate that into the scraper. The trouble with pdfs is that they vary in quality, and sometimes don't give you much.

[2017-02-04 03:21] jlln commented on #17
Great! I was expecting this to be a real pain so I'm glad you have something.

[2017-02-04 03:21] georgerichardson commented on #17
That's great! A lot of these are "official" reports so maybe we'll be lucky with the quality. Even if we can get a fraction of them, that's a massive step.

[2017-02-04 04:15] simonb83 commented on #3
Sure thing @wwymak. Here it is: https://s3-us-west-1.amazonaws.com/simon.bedford/d4d/article_contents.csv.gz

[2017-02-04 05:13] georgerichardson commented on #1
Update: a `scraper` branch has been started with a new file `scraper.py` based on the `newspaper` module.

[2017-02-04 05:15] georgerichardson opened #18 "Explore refugee data in Jupyter Notebooks"
We want people to play around with our tool and do some data analysis and visualisations. Start a notebook, see what you can make or break and let us know below.

[2017-02-04 05:18] georgerichardson opened #19 "Pipeline - save data to csv"
The scraper puts out a list of dictionaries with the contents and metadata from a webpage. We need to be able to save this as a csv. Bonus points if you can append it back to the original csv.

[2017-02-04 05:34] georgerichardson opened #20 "Pipeline - consistent date and time"
Haven't looked too deeply into `newspaper`'s handling of datetimes but if they vary from site to site, we will need to make them consistent. Maybe even having comma separated values for date, month and year published.

[2017-02-04 06:08] coldfashioned commented on #5
Wow - you guys move quickly on a Friday night! I had to do some work around the house, and boom - issue closed. Glad you guys got it sorted out, sorry I didn't come through. I did learn quite a bit about the whole process though, so I'm glad I gave it a shot. I hope I can help with the pdf issue now. I'll jump over there now.

[2017-02-04 06:18] coldfashioned commented on #17
Cool - I'll work on this in the morning. I'll test stuff out and let you know what I come up with either on here or slack. I think pdfs made more recently are constructed better, and can be parsed using PyPDF2. I'll have figure out how to download / extract the pdf file, and then I think I can work with them. Hope I can help!

[2017-02-04 06:24] coldfashioned commented on #2
I noticed this as well. For the time being, I ended up ignoring them using a try / except looking for error 404's.

[2017-02-04 07:07] georgerichardson commented on #5
Haha. That's ok. It's only because the module we found made it so easy. Learned a lot here too.

[2017-02-04 16:24] simonb83 commented on #20
Do we need to worry about timezone at all? I know that we'll have country code, but just wondering if also need to store this for datetime fields?

[2017-02-04 16:40] simonb83 commented on #3
@wwymak I was playing around with this this morning and it threw some errors....you may have better luck with this one: https://s3-us-west-1.amazonaws.com/simon.bedford/d4d/article_contents.csv

[2017-02-05 02:36] georgerichardson commented on #20
I was working on the assumption that published date time is local but I guess that may not be true. I guess it depends whether we care about propagation of reports across news sources or linking them with social media.

[2017-02-05 02:43] georgerichardson opened #24 "Scraper - Refactor old scraper"
Take any useful code from Scraper in `scrape_articles.py` and refactor into `scraper.py`

[2017-02-05 02:44] georgerichardson opened #25 "Scraper - Asynchronous tasks for scraper.py"
@jlln You used async tasks to increase the speed of the `beautifulsoup` scraper. Can we do the same with the `newspaper` one?

[2017-02-05 03:12] georgerichardson commented on #2
Changing this to just focus on broken URLs. Made another issue for irrelevant content types.

[2017-02-05 03:14] georgerichardson opened #26 "Scraper - Tag content type"
During scraping, can we tag whether something is text/video/image/pdf. Extra dessert if you can discern between news/blog etc.

[2017-02-05 13:02] jlln commented on #17
Nice work with the parser. I have looked into incorporating it into the scraper but I have encountered the issue of identifying PDFs:
- How to distinguish an url returning a pdf versus one returning html?
	-The url is not sufficient to identify the return object type.
	-I have tried using the python requests module to pull the header and examine the header content type. However this doesn't always

[2017-02-05 13:07] jlln commented on #25
https://github.com/Data4Democracy/internal-displacement/pull/28

[2017-02-05 17:32] coldfashioned commented on #17
Thanks!

Good point. I didn't think about that case. I'm not sure if I know how to solve that at this point. I'll try to set aside some time to look into that later today / tomorrow.

[2017-02-05 20:25] georgerichardson opened #31 "Scraper - Detect and tag language"
Tag which language scraped content is written in.

Maybe [langdetect](https://github.com/Mimino666/langdetect) is useful?

[2017-02-05 20:52] simonb83 commented on #31
I think the library you're referencing is langdetect rather than mordecai ;-)

I was thinking of maybe creating `filter.py` to include all of the necessary filtering steps, i.e. based on language, relevance etc., which can then be called as part of the pipeline.

What do you think?

[2017-02-05 20:57] georgerichardson commented on #31
You're right. Amended!

I think that makes sense.

[2017-02-05 22:02] simonb83 commented on #31
Cool. I'm working on it but I kind of want to wait for James' recent PR to
be resolved because I will like use some of the Article code.

On Sun, Feb 5, 2017 at 2:57 PM George Richardson <notifications@github.com>
wrote:

You're right. Amended!

I think that makes sense.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/Data4Democ

[2017-02-06 01:59] jlln commented on #17
I'm stumped too. I'll ask around today and let you know if I find anything. The task must be possible, because google chrome automatically renders the page as  a pdf.

[2017-02-07 22:03] simonb83 commented on #31
Closing for the time being with PR #36

[2017-02-07 22:03] #31 closed

[2017-02-07 22:04] simonb83 commented on #2
Closing for the time being with PRs #22 and #30

[2017-02-07 22:04] #2 closed

[2017-02-07 22:21] #24 closed

[2017-02-07 22:27] simonb83 commented on #26
For video / image, if there is no accompanying text on the page, we are likely to end up tagging the link as not relevant as the idea is to base this upon whether or not it talks about the reporting terms.

So in both these cases I feel that these pages are likely to be mixed content?

[2017-02-07 22:46] coldfashioned commented on #17
I haven't been available since the weekend, so I'm catching up with this now. On branch master, I don't see the code that I wrote for scraping pdfs, and when I try to switch to the scraper branch, I get a 404 error. Let me know what needs to be added to the pdf scraper and I'll get to work on it.

[2017-02-08 00:20] georgerichardson commented on #17
Going to refactor this in now.

[2017-02-08 00:59] #25 closed

[2017-02-08 00:59] georgerichardson commented on #18
Thanks for the latest addition @wwymak!

[2017-02-08 01:37] #17 closed

[2017-02-08 01:39] georgerichardson opened #41 "Extract document details from PDF"
Can we extract items such as the title and date published from a pdf?

[2017-02-08 01:39] georgerichardson opened #42 "Detect URLs with PDF"
Copied from @jlln

	-The url is not sufficient to identify the return object type.
	-I have tried using the python requests module to pull the header and examine the header content type. However this doesn't always work, because some urls return an html page that contains a pdf in an iframe. eg http://erccportal.jrc.ec.europa.eu/getdailymap/docId/1125

[2017-02-08 01:41] georgerichardson opened #43 "Manage PDF scraping"
PDF scraping could get a bit intensive hard disk style and could slow down scraping if doing a bulk load of urls. Can we:
1. Have the option to turn off pdf scraping. What part of the code should control this?
2. Delete a pdf as soon as it has been downloaded and parsed

[2017-02-08 01:45] georgerichardson commented on #19
I really like what @jlln has done with creating the SQLArticleInterface. At first I thought we should have a CSVArticleInterface too, but on reflection, perhaps we should default to putting data into a sqlite database, and then build in some helper functions that can take it and export to csv if the user might want to do that at any point. Any thoughts? Trying to imaging what might be useful for t

[2017-02-08 02:08] simonb83 commented on #19
Hmmm...I tend to agree about storing everything in database as default, and then providing options for extracting, manipulating and saving data as needed.
Ultimately I think it gives more flexibility, as its easier to let an analyst play around using the tool and then export as and when they need when they are happy.

[2017-02-08 03:14] jlln commented on #19
Yep that all sounds good to me.

[2017-02-08 04:42] georgerichardson commented on #19
Ok. In that case I'll just make a helper function to do that, but the pipeline will revolve around getting articles into sql

[2017-02-08 07:39] jlln commented on #20
The newspaper module returns datetimes as datetime.datetime objects, which are consistent, and have optional timezone information. So the cases we need to deal with are those where newspaper fails to extract a datetime but successfully extracts text and other information.

[2017-02-08 07:52] minedamnesia commented on #6
These each take a bit to load, but I also found these to be inspirational:

- https://www.lucify.com/the-flow-towards-europe/
- http://www.lucify.com/the-cost-of-displacement

[2017-02-08 16:32] coldfashioned commented on #41
Hmm, I think it's possible. It might involve going to PyPDF2 and/or using regex after parsing. Then again, it all depends on what the pdf file has to give. I'm not sure if I'll have time to dig into this myself.

[2017-02-08 16:36] coldfashioned commented on #43
re: #2 - Short answer, Yes. adding "os.remove('path/to/file/filename.pdf') somewhere after the file has been parsed will delete the file from the directory.
http://stackoverflow.com/questions/6996603/delete-a-file-or-folder-in-python

[2017-02-08 22:07] simonb83 commented on #43
As for turning off pdf scraping, maybe a flag that can be passed to `scrape(url)` in `scraper.py` which can control whether or not to go ahead and scrape the pdf or just ignore it

[2017-02-08 22:39] simonb83 commented on #42
The only way I can think of to try and detect all possible cases is to run every url through an `is_url` function prior to attempting to parse using the appropriate function.

The test could be based on a couple of scenarios, for example:
- URLs ending .pdf
- Content type in headers = 'application/pdf'
- Seeing if the page contains an iframe and looking at the relevant src (this would handle @jlln

[2017-02-08 22:44] simonb83 commented on #42
On testing, this gives:

[code]

[2017-02-09 00:03] simonb83 commented on #41
Title looks hard. For published date, what if we use the `Last-Modified` field from the response headers?

We could put this in the `get_pdf` function at the same time as making sure the page exists:

[code]

However, this value would then have to passed back to `get_body_text` and from there back to `pdf_article` in order to be saved along with the other article data.

Supposedly the HTTP Headers

[2017-02-09 04:13] georgerichardson commented on #20
Ok. I'm going to sort the timezone issue (I think converting to GMT is probably best) and also going to see if I can find a few examples of newspaper not working and rectify that.

[2017-02-09 04:18] georgerichardson commented on #43
Yeah, doesn't need to be anything fancy.

This makes me think of something else though. `scrape(url)` is called from `SQLArticleInterface()` and so if we pass any flags to the scraper, they have to also be passed into the Interface which seems a bit redundant. Does it maybe make more sense to have the Interface called by the scraper at the end of scraping any article instead, or something else? Or

[2017-02-09 04:28] jlln commented on #43
I think the best place to insert the flags would be the process_urls function of SQLArticleInterface. Because scraping is concurrent (i.e. it will always be called by an outer function), we cannot avoid having to pass flags to an outer function.

[2017-02-09 04:31] georgerichardson commented on #43
Yeah, that's true. That's a place for it that makes sense too.

[2017-02-09 04:33] jlln commented on #20
I've just had a look at the newspaper source code to see how it extracts dates. You can see their code here:
https://github.com/codelucas/newspaper/blob/master/newspaper/extractors.py#L173

Might help you understand what weaknesses (if any) it has.

[2017-02-09 17:45] georgerichardson commented on #20
Closing for now as newspaper tackles this fairly well and timezone information is rarely present on articles.

[2017-02-09 17:45] #20 closed

[2017-02-09 18:10] #42 closed

[2017-02-09 18:48] georgerichardson commented on #43
@coldfashioned I just looked at your code again and realised it overwrites every time, so there's not much chance of a large build up of pdfs on disk anyway

[2017-02-09 19:23] #43 closed

[2017-02-09 19:41] simonb83 commented on #43
@georgerichardson if at some point we end up processing pdfs concurrently, do we need to worry about them being saved to disk with the same name?

[2017-02-09 19:57] coldfashioned commented on #43
Thanks - I wrote it that way on purpose, so it didn't just create a billion pdfs on my system. I don't think there is a way to feed an HTTP response to textract. If you want to process concurrently, you could add an index to the file name pretty easily. something like:

`return os.path.join('./','file_to_convert', index, '.pdf')`

The index could be fed in with the function call, or created / incr

[2017-02-10 01:16] georgerichardson commented on #19
#49

[2017-02-10 02:42] simonb83 opened #51 "Enhance country detection in article content"
Enhance the `country_code` function in `interpreter.py` in order to more reliably recognize countries.
For example it currently fails for 'the United States' vs 'United States'.

It would also be good to try and detect countries even though the name is not explicitly mentioned, i.e. from city names etc.

The Mordecai library may be an option, however it requires its own NLP parsing and I was wonde

[2017-02-10 15:43] #19 closed

[2017-02-10 22:40] naoyak commented on #51
[SpaCy's named entity recognizer](https://demos.explosion.ai/displacy-ent/?text=The%20Syria-based%20jihadist%20group%20al-Nusra%20Front%20changed%20its%20name%20to%20Jabhat%20Fateh%20al-Sham%20(Front%20for%20the%20Conquest%20of%20Syria%2Fthe%20Levant)%20at%20the%20end%20of%20July%202016%2C%20reportedly%20cutting%20ties%20with%20al-Qaeda%20at%20the%20same%20time.%0AIt%20is%20thought%20that%20the%20

[2017-02-11 00:00] Guilhermeslucas commented on #4
Want some help? I'm interested on working on it!

[2017-02-11 00:06] Guilhermeslucas commented on #41
Someone working on it?

[2017-02-11 00:34] simonb83 commented on #41
Hey @Guilhermeslucas, we have implemented a solution for extracting the published date, but haven't figured out how to get the title yet, if you're interested in looking into it :-)

[2017-02-11 00:35] simonb83 commented on #4
@Guilhermeslucas We had this on hold for a bit, but...@georgerichardson wow that we have the scraper implemented, might be good to pick this up again?

[2017-02-11 01:04] Guilhermeslucas commented on #4
This looks like a nice place to begin. Let me know if I can do something, I'd be really happy to help.

[2017-02-11 07:42] georgerichardson commented on #4
@Guilhermeslucas We'd definitely still like to do this in two capacities.
1) It would be useful just for development for us to be able to push and pull data from a bucket
2) As the code we've written turns into an app, this might be the way we choose to manage the data.

I would say you can safely get on with 1, but join the slack channel to discuss 2 with the front end/app folk to understand how

[2017-02-11 15:32] mhoover commented on #4
@Guilhermeslucas @georgerichardson I'm tied up with other things, so I won't be able to help out in the near term. Awesome there will be some movement here.

[2017-02-11 16:35] Guilhermeslucas commented on #4
Awesome guys! Thanks a lot! I want to ask a few questions about it. Its better to ask it here or on slack?

[2017-02-11 18:24] simonb83 commented on #4
@Guilhermeslucas so far we have been doing both GitHub comments + slack discussion.

I think for general questions and discussion slack is fine, however it is also sometimes easy to lose track of specific questions and also messages get deleted after a while, so if you have more specific / technical / code questions or comments then I think here would be better.

[2017-02-12 18:37] kweber2 commented on #14
Hi Simon,
I'm brand new here, but I was just reading the [specs](https://unite.un.org/ideas/content/idetect), and it looks like, ideally, the tool needs to be able to assign multiple tags to a given URL. That makes it a multilabel classification problem, instead of just a multiclass classification problem. Am I reading the spec correctly?
-Kris

[2017-02-12 19:22] simonb83 commented on #14
Hi @kweber2, great point. Yes  you are absolutely correct. For the initial problem the set of categories is fixed (i.e. Disasters vs. Conflict & Violence vs. Other), however more than one of these tags can apply to a given url.

[2017-02-12 19:51] kweber2 commented on #14
I see, though, that each training example has only a single label.

I don't have any experience with multilabel classification, but it seems that if we used a multiclass classifier that outputs class probabilities for each class, we could simply include all classes that are scored above a certain probability threshold.

But how do we evaluate performance when the training data contains only single

[2017-02-13 01:54] simonb83 commented on #14
In the training dataset, there are only examples for Disasters & Conflict and Violence.
So I agree we would likely have probability thresholds for each of these, and anything that doesn't meet them gets classified as Other.

Regarding the evaluation, we may have to construct our own dataset of urls with both tags.

[2017-02-13 02:02] simonb83 commented on #51
Yes, I am using Spacy to extract the named entities and then attempting to identify the relevant countries. I've done some more work on this, to include:

- Cities with population > 5000 (from www.geonames.org)
- Country subdivisions such as states, provinces, districts etc. (using pycountry)
- A couple of countries with common 'short' names that weren't mapping correctly to their official names

[2017-02-13 15:38] Guilhermeslucas commented on #4
So, first, this part of the project should be a separated script or part of one that already exists?
What about permissions? To access S3, the user must have password, doesn't it?
The script must only push and pull all the dataset or I must write something that allows the user to do these actions with certains files?

Thanks a lot!

[2017-02-13 16:20] Guilhermeslucas commented on #41
I'm working right now on #4 , cause it's more beginner friendly. I'll let you know when I finish that issue.
Thanks!

[2017-02-13 17:22] georgerichardson commented on #4
@Guilhermeslucas this would be really useful for helping during development. I'm not sure right now if we'll need this functionality in the final application. Would love you to join the Slack discussion to help figure that out

[2017-02-13 20:25] arnold-jr commented on #14
@simonb83 I've taken a stab at using a bag-of-words model to classify the articles in the training set, and I'll like to share them in a pull request, if that's cool.

[2017-02-13 20:35] simonb83 commented on #14
Hi @arnold-jr sounds great! Do you have a notebook or something to show your approach / results?

[2017-02-13 20:37] arnold-jr commented on #14
Yes, but I had to update the conda environment slightly.

On Mon, Feb 13, 2017 at 2:35 PM, Simon Bedford <notifications@github.com>
wrote:

--
Josh Arnold | 931-703-1197 | J.Arnold.111@gmail.c <j.arnold@vanderbilt.edu>
om

[2017-02-13 20:53] simonb83 commented on #14
Ok....do you want to submit your notebook  as a PR to master in the `/notebooks` directory, and just put at the top any specific config information?

[2017-02-13 22:44] jessicayung opened #57 "Incomplete bullet point (with typo) in README.md"
Under Project Components -> Visualizer:

Did you mean to say

Thanks!

[2017-02-13 22:55] georgerichardson commented on #4
Going to close this issue until we have a better idea of what data storage we'll be using in the future.

[2017-02-13 22:55] #4 closed

[2017-02-13 22:58] georgerichardson commented on #57
Yep! Thanks

[2017-02-13 22:58] #57 closed

[2017-02-14 22:39] danielforsyth commented on #15
#59

[2017-02-14 23:02] danielforsyth commented on #14
Uploaded a notebook of initial experiments using an SVM with bag of word features #59

[2017-02-15 12:18] jlln opened #62 "Improve detection of numbers by spacy."
The extraction of information from unstructured texts currently relies on the ability of spacy to identify number-like substrings within text.
Specifically, the like_num method of the spacy Token class is used  [https://spacy.io/docs/api/token](https://spacy.io/docs/api/token).

This method fails to detect approximate numerical terms (eg hundreds, thousands, dozens, few). While these terms are app

[2017-02-15 15:18] danielforsyth commented on #14
Hey @arnold-jr your notebook looks great! Would love to chat and perhaps work together when we get a better idea of the end goal.

[2017-02-15 16:28] simonb83 commented on #14
Thanks @danielforsyth @arnold-jr it would be fantastic for you guys to team up on this.
What I think we need to put together over the coming days is a generic ML pipeline that can be called as and when needed to training / predicting purposes, and that has flexibility around the model.
For example this could be our own Classifier class that can then be called as part of an overall processing pipel

[2017-02-16 20:41] simonb83 opened #65 "Generate a reliability score for a given article"
It would be good to be able to score an article for reliability in order to help analysts as they analyze and interpret the extracted data.
In some cases, news sources may be government run, 'fake news' or have poor sources / track record, and so any data reported by and extracted from these sources should be identifiable as having potential issues.

On the front end, this could include a filter f

[2017-02-16 21:27] MrTones commented on #51
Would it be possible to use googlemaps api to find country?  Most of these work:
<code> https://maps.googleapis.com/maps/api/place/textsearch/json?query=Matshekge&key={ }</code>
Returns:
<code> "formatted_address" : "Bobonong, Botswana", </code>

[2017-02-16 22:00] Guilhermeslucas commented on #62
This sounds nice! I can try it. What script is doing this type of analysis right now?

[2017-02-17 00:18] simonb83 commented on #51
He @MrTones that's a nice idea. We could wrap a call to the API in a function, which we could then use if we cannot identify the country if the other methods fail.

[2017-02-17 00:31] simonb83 commented on #62
Hi @Guilhermeslucas, the function where we use this may look something like this:

[code]

In particular, we iterate over a list of tokens parsed by Spacy, and for each one try and identify whether or not it is number-like (line 5) `if child.like_num`

Currently we are using the internal Spacy method above, `.like_num`....instead we could at this point make a call to a new function, say `like_numb

[2017-02-17 00:56] Cl34r commented on #26
You guys ever considered [Alchemy Data News](https://www.ibm.com/watson/developercloud/alchemy-data-news.html) as a source? You can have it return rss feeds from sites if present as well.

[2017-02-17 06:12] jlln commented on #62
I agree with what Simon wrote. I think a new function:
 like_number(token)  => Boolean

that accepts a spacy token and returns a boolean is the way to go.

[2017-02-17 15:54] arnold-jr commented on #14
@danielforsyth Thanks! It looks like you're getting really good results with the SVM approach. @simonb83 I'm all for teaming up on this. I'm happy to take a crack at creating an sklearn pipeline if that's suitable. It would be useful to get a consensus on how the input will look (csv, pandas dataframe, url, etc) and how the output data should look.

[2017-02-17 16:25] Guilhermeslucas commented on #62
I'll try to it, so! Thanks for te help, guys!

[2017-02-17 18:53] georgerichardson commented on #65
We could also look at links in the text to see what other sources they cite.

Are you envisioning that this kind of score be hard coded or that there is also an element of learning from an analyst who verifies the sources?

[2017-02-17 19:10] georgerichardson commented on #14
@arnold-jr Sounds good. Our pipeline at the moment is to turn scraped content into an Article class which is dumped in an sqlite database, so input data will come from there eventually. However if you want to set up a work-in-progress pipeline using a csv then that's fine. We're trying to avoid being too dependent on packages that are still in flux (like pandas) but if it's the best way then that'

[2017-02-17 19:48] simonb83 commented on #65
I'm not really sure yet, but likely some sort of combination.

Probably initially some hard coded rules to generate a preliminary score that can then be verified by an analyst and updated if need be.

If the 'rules' include some sort of whitelist or blacklist for certain sources, then this could definitely be automatically updated as as analysts verify the sources.

Definitely later down the line

[2017-02-17 22:08] georgerichardson opened #68 "Scraper + Pipeline unit tests"
Complete the unit tests for the scraper and pipeline components

[2017-02-18 05:54] tmead24 commented on #51
Yeah i was thinking you're current function should maybe keep something like a dictionary of places:country and then after scapy + dictionary if a noun isn't recognized make an Maps call last otherwise eventually with enough calls the project would have to start paying for the api.

[2017-02-18 16:32] georgerichardson opened #70 "Integrate event fact extraction"
Integrate work from notebooks into codebase in an attempt to extract

- The reporting term (i.e. destroyed, displaced, etc.)
- The reporting unit (i.e. houses, people, villages etc.)
- The quantity referenced (i.e. 500, thousands, tens)
- The date of the event (i.e. Saturday 09 May 2015, last Saturday)
- The location of the event

from each article's content.

[2017-02-18 16:34] georgerichardson opened #71 "Integrate article classification"
Integrate code from notebooks that classifies an article as "conflict/distaster/both/other"

[2017-02-18 16:36] georgerichardson commented on #15
@danielforsyth Awesome, I just made #71 for integrating this into the codebase. Even if it's not a perfect method yet, we should get something in there that we can test and to build around.

[2017-02-18 16:57] georgerichardson opened #72 "Accuracy score for fact extraction"
As well as source reliability (#65), not all of the facts extracted from an article will be present or accurate. We should be able to flag up the most potentially inaccurately interpreted articles to an analyst with a score that might take into account missing information and possibly ambiguities within the text and historical accuracy of fact extraction from the particular source (eg cnn.com).

[2017-02-18 22:08] WanderingStar opened #73 "Database schema for documents"
Need an initial DB schema to capture information about documents and facts.

Proposal:
Tables:
- Article (id, URL, retrieval date, source, publication date, title, authors, language, analyzer, analysis date) -- metadata extracted from a retrieved article
- Full Text (article, content) full text of article
- Analysis (id, article, reason, location, reporting term, reporting unit, number, metrics, a

[2017-02-19 02:52] georgerichardson commented on #73
The tables look good to me. Do you want to know every possible column that we might have for each of them? I can think of a few more.

[2017-02-19 03:01] georgerichardson opened #75 "Map of events/flow"
World map(s) that show some combination of:
- Number of events
- Magnitude of events
- Conflict/Violence labels

Bonus if we can filter the visualised points based on type, reporting unit, etc.

[2017-02-19 03:16] georgerichardson opened #76 "Plot of events"
Scatter plot (or other) visualising information related to events. Could include
- Location
- Number of events
- Magnitude of events

among others.

[2017-02-19 03:28] georgerichardson commented on #26
Thanks @Cl34r. Checking that out.

[2017-02-19 03:46] georgerichardson commented on #75
While I think of this, it could be cool to have an option to normalise country areas/event magnitudes by population size. The Guardian does this with their hexagonal style election maps.

[2017-02-19 03:48] georgerichardson commented on #76
One consideration is to make sure we don't lose the small but still important events among much larger ones of just the general sea of information. Maybe a log scale could help us out.

[2017-02-19 06:11] WanderingStar commented on #73
Yes, please.

[2017-02-19 06:25] WanderingStar opened #78 "Create Dockerfile for internal-displacement"
Should encapsulate all of the dependencies.

[2017-02-19 06:30] WanderingStar commented on #78
I *think* that installing textract per https://textract.readthedocs.io/en/stable/installation.html
And `pip install -r requirements.txt` should be sufficient, with the additions to requirements in #77

[2017-02-19 06:40] georgerichardson commented on #78
Just a heads up that our `requirements.txt` might not include imminent additions from the Jupyter notebooks

[2017-02-19 16:53] vghorakavi commented on #76
I will claim this project.

[2017-02-23 23:16] ottoman91 commented on #18
hi! id like to work on this issue. im currently working in the ICT4D space in west africa, and passionate about using data science/machine learning to solve problems in the development sector.

[2017-02-23 23:19] georgerichardson commented on #18
@ottoman91 Cool! We have a Data for Democracy Slack channel where we're chatting about the project as a whole

[2017-02-23 23:24] ottoman91 commented on #18
yes, ive joined that group. will be reading the project documentation tonight and then get started on this.

[2017-02-24 02:05] #78 closed

[2017-02-24 02:17] WanderingStar opened #86 "Infrastructure Plan"
Here's a sketch of an infrastructure plan:

Development:
Scrapers run locally (on developer machine) in Docker for prototyping (internal-displacement)
Write to Amazon RDS database with shared credential

Web app runs locally in Docker for prototyping (internal-displacement-web)
Reads from Amazon RDS database with shared credential
Can write scrape requests to DB

IDETECT Preparation:
Scraper and W

[2017-02-24 02:19] WanderingStar commented on #86
Comments? Suggestions?

[2017-02-24 02:20] WanderingStar commented on #86
The purpose of using Docker is to encourage folks to properly encapsulate any dependencies (Texract has a bunch of non-Python dependencies, for example) so that when the time comes to deploy to a cloud instance we don't have to wrangle them.

[2017-02-24 17:30] georgerichardson commented on #86
@WanderingStar This looks good to me. By "read scrape requests from the database" do you mean that new additions to the database could automatically trigger scraping?

[2017-02-24 19:18] WanderingStar commented on #86
Yes, exactly. The idea would be that we would have a table listing scraping requests and their statuses. The scraper would look for any requests with a NEW status or whatever and scrape them (changing the one it was working on to IN PROGRESS while it worked and COMPLETE or DUPLICATE or whatever when it's done).

This allows us to start more than one scraper if necessary during the initial data ing

[2017-02-24 19:19] WanderingStar commented on #86
Incidentally, this is a fairly common "work queue" pattern.

[2017-02-25 19:30] wwymak commented on #51
If you need a free api place lookup you can use Mapzen https://mapzen.com/products/search/

[2017-02-27 01:40] georgerichardson commented on #6
A cool way of visualising reports on maps (from @wwymak)
- https://unfiltered.news/#/2017/02/26/es

[2017-03-01 18:10] domingohui commented on #86
Hi @WanderingStar thanks for the infra plan suggestion! I don't have much experience in a work flow like this, but I'm just trying to understand it. Does the scraper have to periodically check with the DB for new scrape requests?

Also, regarding

do you think we can abstract a backend layer just to communicate with DB? which can be used for both scraper to update the tables, and the frontend weba

[2017-03-01 19:26] WanderingStar commented on #86
I strongly recommend using Data Access Objects to talk to the DB, rather than writing SELECT and UPDATE statements. I'm planning to use SQLAlchemy on the Python side. You can see what that usage would look like here: https://github.com/Data4Democracy/internal-displacement/blob/schema/internal_displacement/tests/test_model.py (note that this branch is still work in progress, and not merged yet)

So

[2017-03-01 22:13] domingohui commented on #86
Thanks @WanderingStar! The reason I brought it up is that I see your [PR](https://github.com/Data4Democracy/internal-displacement/pull/77) is still using explicit SQL commands. But if you are already working on something like sqlalchemy or some sort of DAO, then that's great!

[2017-03-01 23:09] WanderingStar commented on #86
Gotcha. #77 was the "get the AWS RDS DB working just like the SQLite DB" PR. There will be a PR forthcoming off of the `schema` branch that uses SQLAlchemy. (see also https://github.com/Data4Democracy/internal-displacement/issues/73)

[2017-03-02 03:09] georgerichardson opened #90 "Reliability score for report interpretation"
Write a function that calculates the percentage of missing fields in `report.Report` after an article has been interpreted.

We may expand this later to include weighting or other factors. Discussion welcome.

[2017-03-02 03:13] georgerichardson opened #91 "Convert relative dates to absolute datetimes"
An `Article` may have a publication date in datetime format. Dates extracted from text can often be relative or vague, eg. "last Saturday".

Write a function to Combine `article.Article` publication date with dates interpreted in `report.Report` in order to convert dates extracted from text into datetimes.

[2017-03-02 03:24] georgerichardson opened #92 "New Article from submitted URL"
Initialize an `Article` from a url, save it to DB and set its status to `new` / `pending`

[2017-03-02 03:26] georgerichardson opened #93 "Scraped content to database"
Make a call to `Scraper.scrape` for a given url and update the relevant attributes in the database with the result; add content to Content table

[2017-03-02 03:28] georgerichardson opened #94 "Check article language"
Given an `Article`, check and update its language

- Use Interpreter.check_language

[2017-03-02 03:30] georgerichardson opened #95 "Classify article"
Given an `Article`, run the classifier, and update its category - `conflict/violence`/`disaster`/`both`/`other`

[2017-03-02 03:33] georgerichardson opened #96 "Articles to reports"
Given an `Article`, if it is in English, make a call to `Interpreter.process_article_new` to obtain the `Reports`; for each `Report` returned, save in Report table; if no `Reports`, then set its relevance to be `False`

[2017-03-02 03:40] #71 closed

[2017-03-02 03:40] georgerichardson commented on #70
Currently in progress in the Interpreter branch

[2017-03-02 03:41] #75 closed

[2017-03-02 03:41] #76 closed

[2017-03-02 03:43] georgerichardson commented on #3
Seems like we've settled on spaCy for now

[2017-03-02 03:43] #3 closed

[2017-03-02 03:44] #1 closed

[2017-03-02 04:26] tmead24 commented on #92
Wouldn't you just need a call to
` SQLArticleInterface.insert_article( html_article( "some url" ) )`
Or maybe i'm not sure what you're looking for?

[2017-03-02 06:04] tmead24 commented on #72
We can exploit '''vars()''' for this end:

[code]

[2017-03-06 05:55] domingohui commented on #96
I'd love to take a crack at this! Would I base my changes on @simonb83's [interpreter](https://github.com/Data4Democracy/internal-displacement/tree/interpreter) branch?

[2017-03-06 06:01] domingohui commented on #86
Just out of curiosity, does this mean the sqlite3 dependency in [SQLAriticleInterface](https://github.com/Data4Democracy/internal-displacement/blob/master/internal_displacement/pipeline.py#L152) will be replaced with SQLalchemy eventually?

[2017-03-06 14:04] WanderingStar commented on #86
Sort of. SQLAlchemy uses the low-level drivers like sqlite3 and psycopg2 to talk to SQLite and PostgreSQL databases. You won't have to interact with anything but the model classes in your code.

[2017-03-06 15:54] simonb83 commented on #96
Hi @domingohui that would be great.

Yes it would be best to work in the Interpreter branch as that is where the most up-to-date NLP functions are.

The function itself should probably go somewhere in `pipeline.py` and make calls to the Interpreter, Article, Report classes etc as appropriate.

[2017-03-06 17:08] domingohui commented on #86
Sounds good. Just making sure because I didn't see the changes :)

[2017-03-09 03:24] domingohui commented on #96
Please take a look at #101. I will keep pushing as I learn more about the whole pipeline process.

[2017-03-10 02:42] domingohui commented on #94
Please check out #101 :)

[2017-03-11 21:35] #73 closed

[2017-03-12 01:13] domingohui commented on #91
Could [this](https://github.com/scrapinghub/dateparser) be an option?

[2017-03-12 22:10] domingohui commented on #41
Hey I just saw this issue. Since we have the updated schema, I'm just wondering if we should pick this up again. I came across [PyPDF2](https://github.com/mstamy2/PyPDF2). I will try it out for a bit.

[2017-03-13 12:38] supersambo commented on #62
I'm not sure if this is of any help for how you are approaching this. But the spacy's named entity recognition seems to be doing a decently accurate job at identifying spelled numbers.

[code]

output is

[code]
Obviously "Hundreds and thousands" is a pretty tough one but "Hundreds of thousands" should be recognizable. Btw. "three years old" is classified as DATE.

[2017-03-15 01:38] domingohui commented on #91
Are we replacing the dates in Reports with new interpreted datetimes? Or are you referring to something like [this](https://github.com/Data4Democracy/internal-displacement/blob/interpreter/internal_displacement/interpreter.py#L403)? In other words, should [datespans](https://github.com/Data4Democracy/internal-displacement/blob/master/internal_displacement/model/model.py#L142) in a Report be an abs

[2017-03-15 01:44] domingohui commented on #91
We can have something like

[code]

And populates a Report using that.

[2017-03-15 02:51] simonb83 commented on #91
Thanks for all the input @domingohui. I like the idea of a function like that.

Yes we want to convert the 'relative' date strings to absolute dates. The `dateparser` library you mention could be a possibility, although I think there are some cases that it does not cover. From what I have seen the sorts of examples that need to be dealt with are:
- Last Saturday
- 18 May 2015
- Since June 2012

Fi

[2017-03-15 02:56] simonb83 commented on #62
Thanks @supersambo. Yes we are using Spacy's entity recognition and in general it works pretty well, however there are some cases that it doesn't pick up, probably due to unusual context or phrasing.
Unfortunately I don't have any examples off the top of my head. Probably the best thing is to park this for the time being until we have a better list of fail cases and then we can figure out whether

[2017-03-15 03:03] simonb83 commented on #41
Sounds good. Yes, based on the new pipeline (see `process_url` in [PR_107#pipeline](https://github.com/Data4Democracy/internal-displacement/pull/107/files#diff-8a311ad97f84ada36b61b16574d51398)) it would be good if `scraper.scrape()` returns as much detail as possible for pdfs.

[2017-03-15 03:08] domingohui commented on #41
Looks like scraper is already using textract which uses pdfminer which is similar to PyPDF2. But they both seem to have difficulties extracting things like titles. Content (text) wise, theres's no problem. I will keep trying things out.

[2017-03-15 03:10] simonb83 commented on #96
This is probably covered by #107

[2017-03-15 03:11] simonb83 commented on #95
This needs to be integrated towards the end of `pipeline.process_url` as per #107

[2017-03-15 03:12] simonb83 commented on #94
This is probably covered by #107

[2017-03-15 03:12] simonb83 commented on #93
This is probably covered by #107

[2017-03-15 03:12] simonb83 commented on #92
This is covered by #107

[2017-03-15 03:17] simonb83 opened #109 "Number-like entities to integers"
Prior to saving reports to database quantities need to be converted to integers.

In some cases this is trivial (i.e. 500, 684), however there are other cases that need more work for example 'thousand', 'hundreds' etc.

Probably the best place to implement the conversion is in `Report.__init__`

[2017-03-15 03:48] domingohui commented on #91
Thank you for the feedback, Simon! I thought about calling the new function ```get_absolute_date``` somewhere else like Article and Report too! But looking at the [new schema](https://github.com/Data4Democracy/internal-displacement/blob/interpreter/internal_displacement/model/model.py), those classes seem to be just data models. It would make sense to do that in the old schema. But now it seems ki

[2017-03-15 03:57] domingohui commented on #91
Just came across [parsedatetime](https://github.com/bear/parsedatetime). It seems to be doing a decent job: (except for formats like ```2000 mar 15```... It got the month and the date correct tho. But I wonder how likely we will come across this format. Tricky things like ```day after tomorrow``` are also not captured. But that's where real, more solid NLP comes in I think!)

They are all relative

[2017-03-15 23:09] simonb83 opened #110 "Pipeline testing for pdf articles"
Make sure pipeline is working with pdf articles for different scenarios:

- Non existent / broken url
- Non English
- Irrelevant
- Relevant

Ideally include some tests in `tests/test_Pipeline.py`

[2017-03-15 23:12] simonb83 opened #111 "Deal with update_status errors"
In `Pipeline.process_url` we make multiple calls to `article.update_status()`.

The update_status method may raise `UnexpectedArticleStatusException` if it appears that the status has been changed in the meantime.

`process_url` should be prepared for dealing with this exception.

[2017-03-15 23:16] simonb83 opened #112 "Modify Location Schema to be able to distinguish between cities and country sub-dvisions"
The extracted location could be either a Country, a country sub-division (i.e. province or state) or a City.

We need to modify the schema for `Location` class in `model.py` to ensure that we can capture these different options:

[code]

[2017-03-15 23:17] #96 closed

[2017-03-15 23:17] #94 closed

[2017-03-15 23:17] #93 closed

[2017-03-15 23:22] simonb83 commented on #91
Hey, why don't you go ahead and implement where you think best in `Interpreter`.
We can always go ahead and move it later on if it seems to make sense.

[2017-03-20 17:08] simonb83 commented on #91
I have added a placeholder `get_absolute_date` in `Interpreter` which can now be updated with enhancements.

Some additional thoughts we had to try and limit the scope of this:
1. Ignore anything in the future
2. If publish date is available, ignore anything X amount of time in the past (i.e. this is the worst storm since 2005 or whatever) ~suggestion is to ignore anything > 1 year ago
3. Try and

[2017-03-21 14:32] tdraebing commented on #90
Hi @georgerichardson ,
I would like to work on this issue. I think next to having a score for the whole table, it might make sense to also score each entry and each column. Also I would approach this by writing the function in a way that it could work for other tables as well, since I think this might be useful for other data later on. What do you think?

[2017-03-24 12:55] frenski commented on #6
This is the one from IOM (not the prettiest one, but people working in the field told me they find it very useful):
http://migration.iom.int/europe/

[2017-03-25 14:36] alexanderrich commented on #112
Hi @simonb83 ,
I'm new to this project and would like to take a crack at this. Just to make sure I understand what's required, the needed changes are:
- update shema.sql in the manner described
- update the location class in model.py to match the new schema
- update the test_location function in test_model.py to include an example with city and/or state values
Is that about right?

[2017-03-25 16:25] WanderingStar commented on #112
@alexanderrich, yes, that's right!

[2017-03-25 23:23] frenski commented on #112
Btw, as we are currently changing the schema, why don't we split the latlong field it into two different ones (lat and lon) and keep them as double? It would be both easier and faster for the frontend and better performance-wise in general?

[2017-03-26 00:40] ml9951 commented on #112
Since you guys are already using Postgres, I might suggest looking at the PostGIS extension [[1](http://postgis.net/)].  This adds native spatial types (Point, Polygon, Line, etc.).  You could store the lat/lon as a Point which will not only allow you to easily extract the numerical lat/lon values, but also perform spatial queries on the database, such as finding all points within a polygon, neare

[2017-03-26 01:08] frenski commented on #109
Hey,
I used this solution (https://github.com/ghewgill/text2num/blob/master/text2num.py) and improved it to accept also numbers and lists as input. This should do the work, right? Should I put it directly in the model init?

[2017-03-26 04:14] WanderingStar commented on #112
Will that field be used? Where will the data come from? In what format? I punted on making a decision about how to store that...
`    latlong = Column(String)  # Not tackling PostGIS right now`
...because I thought it was unlikely to be used in the short run, and didn't want to commit to a format (decimal degrees? degrees decimal minutes? DMS?) or get PostGIS set up on the Amazon RDS. But if it se

[2017-03-27 15:16] simonb83 commented on #112
I agree that right now the lat-lon fields are unlikely to be used in v1 so it is more likely to be a future enhancement at some point down the line.
Don't know if that helps make the decision...

[2017-03-31 00:57] #112 closed

[2017-04-02 00:42] georgerichardson commented on #90
Hey @tdraebing. Sorry for the slow reply. Sounds good to write generic functions. How did you envision scoring each individual entry/column?

[2017-04-02 19:23] WanderingStar opened #127 "Python process to check for new URLs and run the pipeline on them"
We would like to have the front end be able to submit new URLs to process by writing an article row into the DB with a status of NEW. We need a process that runs on the back-end that looks for such rows and kicks of the scraping & interpretation pipeline.

Because it takes a while to bring up the interpretation environment (loading dependencies & model), it probably makes sense to have a long-runn

[2017-04-02 19:26] WanderingStar opened #128 "Config for running in AWS"
The `docker-compose.yml` and `docker.env` files are currently set up with local development in mind. We'll want a production-friendly config.

- Don't run localdb
- DB config refers to AWS RDS instance instead of localdb (_please do *not* check credentials in to git_)
- Node.js runs production version, instead of development version

[2017-04-14 05:10] WanderingStar opened #138 "pgConfig change breaks production config"
This code in `master` breaks production:
[code]

[code]

Can this be made optional? If the file `pgConfig` exists, require it, otherwise use the environment variables?

[2017-04-14 05:54] #91 closed

[2017-04-15 19:40] wwymak commented on #138
updated that -- there's 2 options now in the npm scripts so if you use `npm run start-localDB` it runs the pgconfig file otherwise it looks for the db opts in the process.env variables

[2017-04-16 02:03] WanderingStar commented on #138
Great, thanks!

[2017-04-25 20:47] frenski commented on #6
This is an interesting one too:
http://metrocosm.com/global-immigration-map/

[2017-04-28 16:01] #109 closed

[2017-04-28 16:02] #70 closed

[2017-04-28 16:02] #14 closed

[2017-04-28 16:02] #13 closed

[2017-04-28 16:02] #15 closed

[2017-04-28 16:02] #16 closed

[2017-04-28 16:03] #18 closed

[2017-04-28 16:03] #6 closed

[2017-04-28 16:03] #51 closed

[2017-04-28 16:03] #62 closed

[2017-05-04 18:01] georgerichardson commented on #41
@domingohui Have you had any luck with different approaches on this one?

[2017-05-04 18:02] georgerichardson commented on #26
Latest approach in `classification` notebook

[2017-05-04 18:05] georgerichardson opened #143 "Deal with datetime issue"
Sometimes no publication date is available and a blank string is returned. However the db model expects a date time.

Possible fix in `scraper.Scraper.html_article`:
[code]

[2017-05-04 18:06] georgerichardson opened #144 "Integrate LSI classification approach into interpreter"
Take approach from `classification` notebook and integrate into interpreter for classification and filtering articles.

[2017-05-04 18:08] georgerichardson opened #145 "Implement online learning"
As more articles are gathered, analysed and verified by a human, it would be nice for the ML models to self update. Open to discussion on tools and best practices for this.

[2017-05-04 18:13] georgerichardson opened #146 "Deal with timeouts when scraping"
Does seem to happen very often, but have experienced a couple of timeouts while scraping (every few thousand articles). Will post the trace for the next one.

[2017-05-04 18:25] WanderingStar commented on #143
Does it make more sense to use None/NULL? It seems misleading to say that the publication date of an article is when the scraper ran.

[2017-05-04 22:24] georgerichardson opened #147 "Deal with scraping error"
Trace
[code]

[2017-05-04 23:57] georgerichardson commented on #146
Trace
[code]

[2017-05-05 00:40] domingohui commented on #147
What was the url that you were trying to scrape?

[2017-05-05 00:42] domingohui commented on #145
What are the ML models used for? I must have lost track in the slack convo...

[2017-05-05 00:45] domingohui commented on #143
I think None makes more sense. If there had to be a date, a fallback could be the latest date mentioned in the article ( or the latest Report).

[2017-05-05 00:47] domingohui commented on #41
I haven't found a tool that can handle this reasonably well...

[2017-05-05 00:58] georgerichardson opened #148 "Rare case of site not returning true 404"
Trace
[code]

[2017-05-17 01:44] georgerichardson commented on #147
That's a good question...

[2017-05-17 23:53] simonb83 commented on #127
I love this idea. I also think it would be a good idea to split the Pipeline into two separate parts: URL Parsing & Classification / Report Extraction.

Perhaps we could then have two processes - one that looks for urls with status "New" and executes the Scraping code.
The other one would look for urls with status "Fetched" and execute the remaining Classification / Report Extraction piece.

[2017-05-17 23:55] simonb83 commented on #146
Yeah I got this too.

For the purposes of the submission I just caught the error and moved on to the next url, but I wonder if it makes sense to retry?

[2017-05-17 23:57] simonb83 commented on #143
Yeah agreed None makes more sense now that I think about it.

[2017-05-18 21:39] georgerichardson commented on #143
Yep!

[2017-05-18 21:40] georgerichardson commented on #146
Yeah. At least one retry makes sense

[2017-05-18 21:41] georgerichardson commented on #145
The ML I'm thinking of for this particular issue are to tag the articles as about displacement/not about displacement and then as disaster/conflict/other as the reason for displacement

[2017-05-25 06:02] georgerichardson opened #149 "Clean up repo and code"
There's lots of unused imports and things like the notebooks could be better organised

[2017-06-01 13:46] georgerichardson commented on #149
Sorted out notebooks. Code still needs cleaning.

[2017-06-01 13:51] georgerichardson opened #151 "Add status code for article retrieval"
Currently we just return the article if it is scraped successfully, but only the message "retrieval failed" if not. Would be good to add the HTTP status code.

[2017-09-23 04:27] jmmnn opened #154 "Suggestion for wiki documentation"
Hello @simonb83 the documentation for the internal-displacement project is excellent. I wanted to make a suggestion to add on the fist page of the installation wiki:

[wikipage](https://github.com/Data4Democracy/internal-displacement/wiki)

Add a numbered list item between the current 1 and 2 saying:
"2. Clone this github repository and move to the internal-displacement folder."

cheers

[2017-10-04 17:20] bouzaghrane commented on #149
Is this issue still open?

[2017-10-04 17:53] WanderingStar commented on #149
@aminebouzaghrane, it would not be productive to work on this. This repo is on hiatus while we work with the IDMC on continuing this project.

[2018-03-05 20:59] oskarsinger commented on #145
I have an extensive online learning background. Would be interested in details of the problem. Sounds like it may be better to just retrain periodically because this sounds like a supervised learning problem, but it depends on more specifics.

[2018-06-06 20:45] emtseng commented on #145
Agreed @oskarsinger. Details pending, of course, but I imagine it may be useful to investigate and then set a threshold for the number of new articles tagged to trigger a retraining.

[2018-10-22 16:51] bthakks commented on #147
I came across similar issue when i tried to scrap from  https://blogs.savethechildren.org.uk/category/theme/education
I was following the tutorial available [here ](https://towardsdatascience.com/a-practitioners-guide-to-natural-language-processing-part-i-processing-understanding-text-9f4abfd13e72)

Help please

Trace error

`TypeErrorTraceback (most recent call last)
<ipython-input-319-7bc9785125